@import "../../variables";

.main {
  padding: 3px;
  max-width: var(--common-column-width);
  margin: 0 auto var(--block-bottom-margin);
  background: var(--base-bg) url('/images/wrapper-bg.png');
  color: var(--main-color);
  width: 90vw;
  min-height: 70vh;
  box-sizing: border-box;
  box-shadow: 0 0 5px 2px var(--common-shadow-color);
  border-radius: var(--base-border-rad);
  display: flex;
  justify-items: stretch;

  h1 {
    text-align: center;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  a {
    color: #fff;
  }

  &-box {
    padding: 60px 85px;
    border-radius: var(--base-border-rad);
    border: #fff dashed 2px;
    width: 100%;
  }
}
