@import "../../variables";

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__pages {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 10px 0 0;
    }
  }

  .active {
    color: #fff;
  }

  .user-box {
    position: relative;
    cursor: pointer;
    color: #fff;
    padding: 0 0 10px;
    margin: 0 0 -10px;

    a {
      color: var(--base-link-color);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    ul {
      margin: 0;
      padding: 10px 20px;
      list-style: none;
      position: absolute;
      display: none;
      top: 100%;
      background: var(--base-bg);

      li {
        margin: 0 0 10px;
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }
}
