@import "../../variables";

.header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  background: var(--bg-header);
  box-shadow: 0 2px 4px var(--common-shadow-color);
  margin: 0 0 var(--block-bottom-margin);

  &-box {
    max-width: var(--common-column-width);
    width: 93vw;
    padding: var(--common-paddings);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    box-sizing: border-box;
  }

  .header-logo {
    display: inline-block;
    margin: 0 20px 0 0;
  }

  a {
    color: #90c3f8;
    margin: 0 15px 0 0;
    text-decoration: none;
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
